/*!! Client Code */
html, body {
  margin: 0;
  padding: 0;
}

form.aui {
  margin: 0;
  padding: 0;
  width: 100%;
}

form.aui ul {
  margin: 0;
  padding: 0;
}

form.aui li {
  list-style-type: none;
  margin: 0 0 5px 0;
  overflow: hidden;
  display: inline-block; /* ie layout hack */
  display: block; /* restore from hack */
  border-radius: 3px;
  box-sizing: border-box;
  padding: 5px;
  text-decoration: none;
  text-shadow: 0 1px 0 white;
  vertical-align: baseline;
  white-space: nowrap;
  background: -moz-linear-gradient(top, white 0%, #f7f7f7 100%);
  background: -webkit-linear-gradient(top, white 0%,#f7f7f7 100%);
  background: -o-linear-gradient(top, white 0%,#f7f7f7 100%);
  background: -ms-linear-gradient(top, white 0%,#f7f7f7 100%);
  background: linear-gradient(top, white 0%,#f7f7f7 100%);
  border: 1px solid #ccc;
}

form.aui li table {
  border: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

form.aui li table tr, form.aui li table td.left, form.aui li table td.right {
  padding: 0;
}

form.aui li table td.right {
  width: 31px;
}

form.aui li input.subtask-title {
  float: left;
  max-width: none;
}

form.aui li input.subtask-title:focus {
  border-color: #69c;
}

form.aui li.committed input.subtask-title {
  color: #333;
  border-color: transparent;
  background: transparent;
  box-shadow: none;
}

form.aui li a.subtask-remove {
  float: right;
  margin: 0 5px 0 10px;
}

form.aui li:last-child td.right {
  width: 0;
}

form.aui li:last-child .subtask-remove {
  display: none;
}

form.aui li .aui-icon-close {
  width: 16px;
  height: 2.1428571428571em;
  background-position: left center;
  background-repeat: no-repeat;
}

#aui-message-bar {
  margin: 0 0 10px 0;
}

#wait {
  position: fixed;
  top: 60px;
  left: 50%;
}

a#feedback {
  position: fixed;
  bottom: 0;
  right: 0;
  display: inline-block;
  background: #f5f5f5;
  z-index: 1000;
  padding: 3px 6px;
  margin: 4px;
  border: 1px solid #ccc;
  border-radius: 3.00001px;
  font-size: 11px;
  font-weight: bold;
  color: #444;
  text-decoration: none;
}

a#feedback:hover {
  text-decoration: underline;
}
