extends layout

block content
  #aui-message-bar.hidden
  form.aui
    input#parentIssueKey(type="hidden", name="parentIssueKey", value=parentIssueKey)
    ul#subtasks
    #wait.hidden
  script(type="text/x-template", title="subtask-content")
    | <table><tr><td class="left">
    |   <input type="text" class="text subtask-title" placeholder="Enter sub-task title...">
    | </td><td class="right">
    |   <a class="subtask-remove aui-icon-close" href="#" tabindex="-1"></a>
    | </td></tr></table>
