doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content="width=device-width")
    meta(name="ap-local-base-url", content=localBaseUrl)
    // @todo generate auth state meta
    title=title
    link(rel="stylesheet", href=hostBaseUrl+"/remotable-plugins/aui/v5_0/css/aui-all.css", media="all")
    // if lt IE 9
      link(rel="stylesheet", href=hostBaseUrl+"/remotable-plugins/aui/v5_0/css/aui-ie.css", media="all")
    // if IE 9
      link(rel="stylesheet", href=hostBaseUrl+"/remotable-plugins/aui/v5_0/css/aui-ie9.css", media="all")
    link(rel="stylesheet", href=resource("/main.css"))
    script(src=hostScriptUrl, data-options="base: true")
  body
    block content
    script(src=hostBaseUrl+"/remotable-plugins/aui/v5_0/js/aui-all.js")
    // if lt IE 9
      script(src=hostBaseUrl+"/remotable-plugins/aui/v5_0/js/aui-ie.js")
    script(src=resource("/lib/underscore.js"))
    script(src=resource("/lib/backbone.js"))
    script(src=resource("/lib/spin.js"))
    script(src=resource("/main.js"))
